@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.header{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #1c3e20;
    position: sticky;
    top: 0;
    z-index: 100;
}
@media (max-width: 1024px) { .header {padding: 0 auto;} }
@media (min-width: 1024px) { .header {padding: 0 300px;} }

*:focus {
    outline: none;
}

.logo{
    height: 50%;
    margin-left: 20px;
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 20px;

}

.header_logo{
    color: white;
    font-size: 12;
    margin: 0 20px;
    font-family: 'Bebas Neue', cursive;
}

.icon1{
    width: 20px;
    color: #1c3e20;
    margin-right: 10px;
    padding: 5px;
    margin-left: 10px;
}

.container1{
    margin: auto;
    display: flex;
    flex: 1;
}

.header_searchInput {
    background-color: transparent;
    border: 0px solid;
    height: 30px;
    color: #009550;
    font-size: 14px;
    width: 100%;
    margin-right: 10px;
    
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}


.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.button01 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    padding: 10px;
    border: 1px solid;
    border-radius: 50px;
    width: 150px;
    height: 40%;
    color: white;
}

.button01:hover {
    background-color: #fff;
    color: #1c3e20;
}

.calltoact01{
    font-family: "Poppins", cursive;
    font-size: 12px;
    font-weight: 600;
}