.notEz {
    font-size: 20px;
    font-weight: 700;
}

.ez {
    font-size: 22px;
}

.headline {
    display: none;
}

@media (min-width: 1024px) {
    .headline {
        padding: 0 300px;
        background-color: rgba(229, 233, 167, 0.655);
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
}

.text {
    padding: 0 10px;
}

.gift {
    width: 25px;
}

.calltoact {
    font-size: 16px;
    font-weight: 700;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    padding: 10px;
    border: 1px solid;
    border-radius: 50px;
    width: 150px;
}

.button:hover {
    background-color: rgb(25, 9, 64);
    color: white;
}