/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #fff;
    font-family: Arial;
  }

  @media (min-width: 1024px) {
    .navbar {
        padding: 0 300px;
        background-color: #fff;
        display: flex;
        flex: 1;
    }
}
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: rgb(25, 9, 64);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar-brand{
    display: flex;
  }

  .neucust{
    width: 120px;
  }
  
  .div{
    margin:auto;
    display: flex;
    flex: 1;
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    font-weight: 600;
  }
  .vect{
    width: 20px;
    padding-left: 5px;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(25, 9, 64);
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(25, 9, 64);
    color: #fff;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 33.3%;
    height: 50%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 300px;
    border-radius: 20px;
  }
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 15%;
    height: 25%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 500px;
    border-radius: 20px;
  }
  .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: white;
    width: 33.3%;
    height: 55%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-left: 1px solid grey;
    z-index: 1;
    margin-left: 300px;
    border-radius: 20px;
  }
  
  /* Mega Menu header, if needed */
  .dropdown-content .header {
    background: rgb(25, 9, 64);
    padding: 16px;
    color: white;
  }
  
  /* Mega Menu header, if needed */
  .dropdown-content2 .header {
    background: rgb(25, 9, 64);
    padding: 16px;
    color: white;
  }
  
  /* Mega Menu header, if needed */
  .dropdown-content3 .header {
    background: rgb(25, 9, 64);
    padding: 16px;
    color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropdown-content2 {
    display: block;
  }
  .dropdown:hover .dropdown-content3 {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 49%;
    height:100%;
    border-left: 1px solid grey;
    align-items: center;
    justify-content: center;
  }
  
  /* Style links inside the columns */
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .column a:hover {
    background-color: rgb(25, 9, 64);
  }
  .column1 {
    float: center;
    width: 30%;
    height:100%;
    border-left: 1px solid grey;
    align-items: center;
    justify-content: center;
  }
  
  /* Style links inside the columns */
  .column1 a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .column1 a:hover {
    background-color: rgb(25, 9, 64);
  }
  .column1 {
    float: center;
    width: auto;
    height:100%;
    border-left: 1px solid grey;
    align-items: center;
    justify-content: center;
  }
  
  /* Style links inside the columns */
  .column1 a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .column1 a:hover {
    background-color: rgb(25, 9, 64);
  }
  
  .column3 {
    float: left;
    width: 33%;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  
  /* Style links inside the columns */
  .column3 a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-left: 1px solid grey;
  }
  
  
  /* Add a background color on hover */
  .column3 a:hover {
    background-color: rgb(25, 9, 64);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row{
    margin-top: 20px;
  }

  .title {
    padding-left: 10px;
    padding-bottom: 5px;
  }